* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(36,46,77,.9), rgba(137,126,121,.9));
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.login-form {
  width: 100%;
  padding: 2em;
  background: rgba(0,0,0,.15);
  position: relative;
}

.login-form::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #35c3c1, #00d6b7);
}

.flex-row {
  display: flex;
  margin-bottom: 1em;
}

.lf--label {
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f6f8;
}

.lf--input {
  flex: 1;
  padding: 1em;
  border: 0;
  color: #8f8f8f;
  font-size: 1rem;
}

.lf--submit {
  width: 100%;
  padding: 1em;
  background: linear-gradient(to right, #35c3c1, #00d6b7);
  border: 0;
  color: white;
  cursor: pointer;
}

.lf--forgot {
  margin-top: 1em;
  color: #00d6b7;
  font-size: .8em;
  text-align: center;
}
